  .tl_listing .hofff-groupRoots {
    padding:4px 0;
  }

  .hofff-groupRoots li {
    padding:3px 0;
  }

  .hofff-groupRoots a.disabled {
    opacity:0.5;
  }

  .hofff-groupRoots a.disabled {
    opacity:0.5;
  }

  .hofff-groupRoots .hofff-language {
    color:#999999;
    font-family:monospace;
    font-size:11px;
    font-size:0.85rem;
  }

  .hofff-pageInfo {
    margin:10px 0 4px;
    font-size:12px;
    font-weight:bold;
  }

  .tl_tbox .hofff-pageInfo {
    margin-top:25px;
  }

  .hofff-pageInfo span {
    color:#999999;
  }

  .hofff-pageInfo + div h3 {
    display:none;
  }
  
  .hofff-relations .striContent {
    display:none;
    float:right;
    margin-right:22px;
    padding-top:2px;
  }
  
  .hofff-relations .striSelection .striContent {
    display:block;
  }
  
  .hofff-relations .striContent input {
    position:relative;
  }
  
  .hofff-relations .striContent:hover input::after {
    position:absolute;
    bottom:2px;
    right:18px;
    content:attr(data-hofff-label);
    white-space:nowrap;
	color:#fff;
	z-index:99;
	padding:2px 10px 2px 8px;
	border-radius:3px;
	box-shadow:1px 1px 3px #666;
	background:#666;
	background-image:-moz-linear-gradient(bottom,#333 0,#666 80%);
	background-image:-webkit-linear-gradient(bottom,#333 0,#666 80%);
	background-image:-o-linear-gradient(bottom,#333 0,#666 80%);
	background-image:-ms-linear-gradient(bottom,#333 0,#666 80%);
	background-image:linear-gradient(to top,#333 0,#666 80%);
  }

  .hofff-relations .striContent label {
    display:none;
  }

  .hofff-relations .hofff-language {
    color:#999999;
    font-family: monospace;
    vertical-align: 1px;
  }
